body {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui.main.container {
  padding: 50px 30px 0 30px;
  background: white;
}

#header {
  margin-bottom: 50px;
}

#job-desc {
  padding-bottom: 50px;
}